* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Roboto-Black;
    color: #626262;
    font-size: 14px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.logo {
     float: rightleft;
     padding: 19px 122px;
}

.navigation {
    float: right;
}

.link {
    text-decoration: none;
}

.menu_item {
    list-style-type: none;
    display: inline-block;

}

.menu {     
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 14px;
    font-family: OpenSans-Bold;
    padding: 22px 123px;
    
}

.menu_item:not(:last-of-type) {
    margin-right: 20px;
}

.menu_item_first {
    color: #1ABC9C;
    font-weight: bold;
}

.sidebar {
    position: relative;
    background-image: url(../img/slide.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 601px; 
}

.sidebar_menu {
    position: absolute;
    top: 50%;     
    left: 50%;                    
    transform: translate(-50%, -50%);
    
}

.sidebar_item {
    text-align: center;
    color: #fff;
    font-size: 60px;
}

.sidebar_item_1 {
    font-size: 30px;
}

задати картинку через бегграунд
.point {
    background-color: #1ABC9C;
    background-size: 10px;
    width: 105px;
    height: 105px;
}

.heading {
    font-size: 48px;
    text-align: center;
    padding-top: 77px;
}

.shop {
    background-color:#E9F0FD;
    padding-bottom: 80px;
}

.line {
    border: none;
    background-color: #1ABC9C;
    width: 190px;
    height: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.catalog {
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    
}

.catalog_item {
    display: inline-block;
    margin-left: 29px;

    
}

.img {
   margin: 0;
   padding: 0;
}



.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;

    width: 256px;
    color: #fff;
    background-color: #323232; 
    border: 1px solid #323232;
    font-size: 20px;
}

.footer {
    font-family: OpenSans;
    font-size: 16px;
    color: #fff;
    height: 88px;
    background-color: #323232;
    margin-top: 0px;

}

.footer_text {
    margin-left: auto;
    margin-right: auto;
    width: 394px;
    text-align: center;
    display: inline;
    
}